fastapi~=0.115.0
uvicorn[standard]
SQLAlchemy~=2.0.35
pydantic~=2.9.2
aiomysql
databases~=0.9.0
pydantic_settings
boto3~=1.35.21
pydantic-settings~=2.5.2
botocore~=1.35.21
python-multipart
pytest
pytest-asyncio
httpx
greenlet
pika
celery[redis]
redis
openparse
pymilvus
openai
asgiref
aio-pika
gevent
motor
asyncio
aiofiles